.modal-div{
  width: 329px;
  height: 68px;
  position: absolute;
  right: 1%;
  top: 28%;
}

.modal-header-div{
  background-color: #1771E6;
}

.cart-img-div img{
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.modal-crss-btn{
  cursor: pointer;
  color: #D11B12;
}

